<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--基本信息（车辆信息t_card_info、货物信息t_cargo、皮重信息t_car、收货单位t_receiver、供货单位t_supplier、货物规格t_spe、运输单位t_transport）-->
    <add name="sql_data" connectionString="server=60.205.204.236;user id=root; password=qwer6961; database=balance_ceshi; pooling=false;port=3306;SslMode=Preferred;Charset=utf8"/>
    <!--配置信息-->
    <add name="sql_conf" connectionString="server=127.0.0.1;user id=root; password=qwer6961; database=balance2.3; pooling=false;port=3306;SslMode=Preferred;Charset=utf8"/>
    <!--过磅信息-->
    <add name="sql_balance" connectionString="server=127.0.0.1;user id=root; password=qwer6961; database=balance2.3; pooling=false;port=3306;SslMode=Preferred;Charset=utf8"/>
    <!--重量大于时不触发车牌识别，默认50KG-->
    <add name="weight_discern" connectionString="50"/>
    <!--重量小于时无法过磅，默认50KG-->
    <add name="weight_process" connectionString="50"/>
    <!--过磅稳定时间，默认5秒-->
    <add name="weight_steady_time" connectionString="5"/>
    <!--磅编号，默认00-->
    <add name="weight_no" connectionString="00"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>